body {
	background: black;
	color: red;
	font-family: Courier New;
}

#myProgress {
	width: 100%;
	padding: 0;
	border: 3px solid red;
	background-color: black;
}

#myBar {
	width: 1%;
	height: 80px;
	background-color: red;
	margin: 0;
}