/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#login-error-box {
    display: inline;
}

#login-error-box .alert{
    /* position: absolute;
    float: right;
    margin-top: 7px; */
    display: inline;
    padding: 7px;
    margin-right: 10px;
}

#register-error-box {
    color: red;
}

.task-complete {
    border-left-color: green !important;
    border-left-width: medium !important;
}

.task-incomplete {
    border-left-color: red !important;
    border-left-width: medium !important;
}

.task-inprogress {
    border-left-color: orange !important;
    border-left-width: medium !important;
}

.view-task-toggle {
    cursor: pointer;
}

.slider-color {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity:0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    margin: 5px;
}
.slider-color:hover {
    opacity:1;
}
.slider-color::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.slider-color::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}